.car-info-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
}


.title-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.car-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.rent-form {
  width: 100%;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.rent-form h2 {
  margin-bottom: 10px;
}

.rent-form form label,
.rent-form form legend {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.rent-form fieldset {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rent-submit-btn {
  background-color: #e60000;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.rent-submit-btn:hover {
  background-color: #cc0000;
}
  
.rental-dates {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.date-group {
  flex: 1;
  min-width: 200px;
}

.date-group label,
.days-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.date-group input,
.days-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.days-group {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .car-info-container {
    width: 100%;
  }
}
.navbar .auth-buttons{
  margin-right: 40px;   /* adjust px value until it lines up perfectly */
}