.review-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .review-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .review-form input[type="text"],
  .review-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #222;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  .star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 5px;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    font-size: 1.5rem;
    color: #ccc;
    cursor: pointer;
  }
  
  .star-rating input:checked ~ label,
  .star-rating input:checked + label {
    color: #ffc107;
  }
  
  .submit-btn {
    background-color: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: red;
  }

  .title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
  
  /* Responsive */
  @media (max-width: 768px) {
    .review-form {
      padding: 15px;
      margin: 20px 10px;
    }
  
    .star-rating {
      justify-content: space-between;
    }
  }
  .navbar .auth-buttons{
    margin-right: 40px;   /* adjust px value until it lines up perfectly */
  }
  